@import"_helper";

main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .products_container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $font-dark;
        padding: 2rem;

        h1 {
            padding: 0.5rem 0;
        }

        table {
            width: 100%;
            box-shadow: $box-shadow;

            thead {
                font-size: 1.1rem;
            }

            tbody {
                font-size: 0.9rem;
            }

            .view-btn {
                border: 0;
                padding: 0.3rem 1.1rem;
                border-radius: 5px;
                background-color: $button-bg;
                color: #fff;
                font-size: 1rem;
            }

        }

    }
}

@media screen and (max-width:768px) {
    main {
        .products_container {
            padding: 0;
            overflow-x: auto;

            table {
                box-shadow: $box-shadow;
                overflow: auto;

                thead {
                    font-size: 0.8rem;
                }

                tbody {
                    font-size: 0.7rem;
                }

                .view-btn {
                    padding: 0.2rem 0.4rem;
                    font-size: 0.75rem;
                }

            }
        }
    }

}